.Line {
  width: 75rem;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px #e8e8e8;
}

title {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.Lesson-Panel {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 1.125rem 0 0;
  padding: 0.813rem 0.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.Lesson-Panel-2 {
  width: 17.813rem;
  height: 2.813rem;
  margin: 1.188rem 1.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.Rectangle-2 {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 0.125rem;
  padding: 0.801rem 1.188rem 1.986rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
  border: 0;
}

.ADD-BOOK {
  width: 8.938rem;
  height: 1.125rem;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
